$based-green: rgb(59, 124, 15);

.allPosts {
  width: 80%;

}

.allPosts-container {
  display: flex;
  justify-content: center;
}

.approve {
  padding: 12px;
  background: $based-green;
  font-size: 1.1em;
  cursor: pointer;
  outline: none;
  color: #f9f9fd;
  border: none;
  border-radius: 8px;
  margin-right: 10px;
}

.reject {
  padding: 12px;
  background: #CC0202;
  font-size: 1.1em;
  cursor: pointer;
  outline: none;
  color: #f9f9fd;
  border: none;
  border-radius: 8px;
}
