$based-green: rgb(59, 124, 15);
$deep-green: rgb(46, 91, 11);

.box-container {
  margin: 4% auto;
}

.admin-filter-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.admin-filter-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.admin-filter-checkbox+label::before{
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid $deep-green;
  border-radius: 0.25em;
  margin-right: 0.6em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  cursor: pointer;
}

.admin-filter-checkbox:checked+label::before {
  border-color: $deep-green;
  background-color: $deep-green;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.admin-filter-label {
  font-size: 1.2em;
  font-weight: bold;
}

